.Table {
    background-color: rgb(1, 71, 1);
    width: 96%;
    margin-left: 2vw;
    height: 55vh;
    display: flex;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }
  .tableCards {
    height: 100%;
    min-height: 0;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    object-fit: scale-down;
    display: flex;
    align-items: center;
  }
  .tableCard {
    max-width: 100%;
    max-height: 100%;
  }