.Table {
    background-color: rgb(1, 71, 1);
    width: 96%;
    margin-left: 2vw;
    height: 55vh;
    display: flex;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  }
  .tableCards {
    height: 100%;
    min-height: 0;
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    object-fit: scale-down;
    display: flex;
    align-items: center;
  }
  .tableCard {
    max-width: 100%;
    max-height: 100%;
  }

.popper {
    position: absolute;
    background: white;
    color: black;
    width: auto;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.popper .popper__arrow{
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: white;
}

.popper[x-placement^="bottom"] .popper__arrow {
border-width: 0 5px 5px 5px;
border-left-color: transparent;
border-right-color: transparent;
border-top-color: transparent;
top: -5px;
left: calc(50% - 5px);
margin-top: 0;
margin-bottom: 0;
}

.popper[x-placement^="bottom"]{
    margin-top: 5px;
}

.suitPopper{
  width: 40px;
  height: auto;
}
